* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #0b0b0b;
  color: #ffffff;
}

/* Espaços */
.spacer {
  height: 100vh;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

/* Seção animada */
.hero {
  position: relative;
  height: 100vh;
  background: linear-gradient(135deg, #ff0080, #7928ca);
  display: flex;
  align-items: center;
  justify-content: center;
 /* overflow: hidden; */
}

/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle,
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.8)
  );
}

/* Conteúdo */
.content {
  position: relative;
  text-align: center;
  z-index: 2;
}

/* Estado inicial da animação */
.content h2 {
  font-size: clamp(3rem, 10vw, 6rem);
  opacity: 0;
  transform: translateY(120px);
}

.content p {
  font-size: clamp(1.2rem, 4vw, 2rem);
  letter-spacing: 4px;
  margin-top: 10px;
  opacity: 0;
  transform: translateY(120px);
}
