* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  overflow-y: auto;
}

}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #0b0b0b;
  color: #fff;
}

/* Espaços */
.spacer {
  height: 100vh;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

/* Seção animada */
.hero {
  height: 100vh;
  background: linear-gradient(135deg, #ff0080, #7928ca);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Conteúdo */
.content {
  text-align: center;
}

/* ESTADO INICIAL (OBRIGATÓRIO) */
.content h2 {
  font-size: 5rem;
  opacity: 0;
  transform: translateY(150px);
}

.content p {
  font-size: 2rem;
  opacity: 0;
  transform: translateY(150px);
}
